<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IcSMP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SiteStructure.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/TextColor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IcSMP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/View.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Animations.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 nav-bar-decoration">
                <div class="container-fluid">
                    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <img src="./Asset/Catalin-logo1.png" alt="company logo" class="logo-nav" />
                        <a class="nav-link puls" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa-solid fa-house-user"></i>
                            IcSMP
                        </a>
                        <ul class="navbar-nav flex-grow-1 justify-content-center nav-bar-spacing">
                            <li class="nav-item margin-item">
                                <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index">
                                    <i class="fa-solid fa-folder-tree"></i>
                                    Categories
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">
                                    <i class="fa-solid fa-hand-holding-dollar"></i>
                                    Stock
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Clients" asp-action="Index">
                                    <i class="fa-solid fa-person-circle-plus"></i>
                                    Clients Db
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Suppliers" asp-action="Index">
                                    <i class="fa-solid fa-box-open"></i>
                                    Suppliers
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Couriers" asp-action="Index">
                                    <i class="fa-solid fa-truck-front"></i>
                                    Logistics
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Brand" asp-action="Index">
                                    <i class="fa-solid fa-truck-front"></i>
                                    Brands
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                    <i class="fa-solid fa-users-gear"></i>
                                    About Us
                                </a>
                            </li>
                        </ul>
                        <a class="nav-link puls" asp-area="" asp-controller="AccountAuth0" asp-action="Logout">
                            <i class="fa-solid fa-power-off"></i>
                            Log out
                        </a>

                    </div>
                </div>
            </nav>
        </header>
        <div class="container">

            <main role="main" class="pb-3">
                @RenderBody()

            </main>
        </div>
    }
    else
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 nav-bar-decoration">
                <div class="container-fluid login-start">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <a class="nav-link puls login-start">
                            IcSMP
                        </a>
                    </div>
                    <div>
                        <h1>Iordache Catalin Stocks Management Program</h1>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container login-start">
            <button>
                <i class="fa-solid fa-computer" style="font-size:200px"></i>
                <div>
                    <a class="puls" asp-area="" asp-controller="AccountAuth0" asp-action="Login">
                        <i class="fa-solid fa-right-to-bracket"> </i>
                        Please login
                    </a>
                </div>
            </button>

            <main role="main" class="pb-3" style="display:none;">
                @RenderBody()

            </main>
        </div>
    }

    <footer class="text-muted footer-bar-decoration">
        <div class="container">
            <span class="footer-item">
                &copy; 2023 - IcSMP -
            </span>
            <a class="footer-item"  asp-area="" asp-controller="Home" asp-action="Privacy">About Us</a>
            
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
