@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center welcome-page-start">
    <h1 class="animation">
        <span class="word display-1 text-opacity">Welcom<span class="superscript">e</span> </span>
        <span class="word">enjoy</span>
    </h1>
</div>

