html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {   
    margin-bottom: 60px;
  
}

::-webkit-scrollbar {
    width: 8px;
  }

::-webkit-scrollbar-track {
    background: black;
    height: 20%;
    padding: 20px;
    border-radius: 50px;
    width:calc(100% - 50px);
}

::-webkit-scrollbar-thumb {
    background: #0591af;
    border-radius: 50px;
    width: calc(100% - 50px);
}

  ::-webkit-scrollbar-thumb:hover {
        background: #00343e;
    }

/*Search - section*/
.search-container {
    position: relative;
    display: inline-block;
    border: 2px solid black;
    margin-right: 50px;
    border-radius: 6px;
}

    .search-container:hover {
        border: 2px solid #0591af;
        transition: 0.4s;
        color: #0591AF;
        box-shadow: rgba(5, 145, 175, 0.3) 0px 0px 0px 3px;
        border-radius: 6px;
    }

    .search-container input[type="text"] {
        width: 100%;
        padding: 5px 1px 0px 35px;
        border: none;
        font-size: 14px;
        color: black;
    }

    .search-container i {
        position: absolute;
        top: 6px;
        left: 10px;
        font-size: 18px;
        color: #0591af;
    }

    .search-container:hover i {
        color: black;
    }

    .search-container input[type="text"]:focus {
        outline: none;
    }