.data-container {
    display: flex;
    flex-direction: column;
 }

.create-btn {
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.puls {
    border-radius:6px;
     animation: pulse 3s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(5,145,175, 0);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(5,145,175, 1);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(5,145,175, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(5,145,175, 0);
        box-shadow: 0 0 0 0 rgba(5,145,175, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(5,145,175, 1);
        box-shadow: 0 0 0 2px rgba(5,145,175, 0.7);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(5,145,175, 1);
        box-shadow: 0 0 0 0 rgba(5,145,175, 1);
    }
}

/*Hide div when screen shirnks*/

@media only screen and (max-width: 1480px) {
    .hide-1480px {
        display: none;
    }
}

@media only screen and (max-width: 1350px) {
    .hide-1350px {
        display: none;
    }
}

@media only screen and (max-width: 1250px) {
    .hide-1250px {
        display: none;
    }
}

@media only screen and (max-width: 1080px) {
    .hide-1080px {
        display: none;
    }
    .container {
        padding: 10px 30px 10px 30px;
    }
    .data-container{
        padding:10px;
    }
}

@media only screen and (max-width: 600px) {
    .hide-600px {
        display: none;
    }
    .container {
        padding: 5px 12px 5px 12px;
    }
    .data-container {
        padding: 5px;
    }
    .data-container .card {
        width: 12rem;
        max-height: 10rem;
    }
}